.galeria-home {
  padding-block: 5rem 7rem;
}

.galeria-home h2 {
  padding-bottom: 2.5rem;
  max-width: 75rem;
}

.container-galeria-home {
  display: flex;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  overflow-x: auto;
}

.container-galeria-home li {
  min-width: 17.5rem;
}

.subcontainer-galeria-home img {
  border-radius: 0.3125rem;
  width: 28.75rem;
}

.container-galeria-home h3 {
  font: var(--semibold) var(--s32) / 1.25 var(--tg1);
  color: var(--c11);
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.container-galeria-home h3::before {
  content: "";
  display: inline-block;
  background-color: var(--p1);
  width: 0.75rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  transition: width 0.2s;
}

.container-galeria-home a:hover h3::before {
  width: 1.5rem;
}

.container-galeria-home p {
  font: var(--medium) var(--s18) / 1.33 var(--tg2);
  color: var(--c8);
  padding-left: 1.2rem;
  padding-top: 0.5rem;
}

.galeria-fotos-home {
  position: relative;
}

@media (max-width: 1200px) {
  .galeria-home h2 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .galeria-home h2 {
    font-size: 2.62rem;
  }
  .galeria-home h3 {
    font-size: var(--s24);
  }
}

@media (max-width: 800px) {
  .escrita-introducao .titulo {
    font-size: var(--s32);
  }
}
