.seguros-bike-inter-bg {
  background-color: var(--c11);
  box-shadow: inset 0 120px var(--w), inset 0 -120px var(--c12);
}

.seguros-bike-inter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-inline: 2rem;
}

.foto-inter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.seguros-bike-inter-escrita {
  padding-block: 10rem;
}

.seguros-bike-inter-escrita h2 {
  color: var(--w);
  position: relative;
}

.seguros-bike-inter p {
  font: var(--regular) var(--s24) / 1.5 var(--tg2);
  color: var(--c5);
  padding-block: 2rem 1.25rem;
}

.seguros-bike-inter a {
  color: var(--p5);
}

.seguros-bike-inter-escrita span::before {
  content: "";
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(/assets/dec/top-right.svg);
  background-repeat: no-repeat;
  right: -0.9rem;
  top: -1.5rem;
}

.seguros-bike-inter-escrita span::after {
  content: "";
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(/assets/dec/bottom-right.svg);
  background-repeat: no-repeat;
  right: -0.9rem;
  bottom: -13rem;
}

@media (max-width: 1000px) {
  .seguros-bike-inter-escrita h2 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .seguros-bike-inter-escrita h2 {
    font-size: 3rem;
  }
  .seguros-bike-inter {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .foto-inter {
    grid-row: 2;
  }
  .foto-inter img {
    height: 500px;
  }
  .seguros-bike-inter-bg {
    background-color: var(--c11);
    box-shadow: inset 0 -140px var(--c12);
  }
  .seguros-bike-inter-escrita {
    padding-block: 2rem;
  }
  .seguros-bike-inter-escrita span::before {
    display: none;
  }
}
